name: Deploy to environment

on:
  workflow_dispatch:
  push:
    branches:
    - "main"

env:
  PYTHON_VERSION: "3.11"
  GCP_PROJECT_ID: "tu-proyecto-gcp"
  GAR_LOCATION: "us-central1"
  REPOSITORY_NAME: ${{ github.event.repository.name }}
  GKE_CLUSTER: "tu-cluster-gke"
  GKE_ZONE: "us-central1-c"

jobs:
  build-push-deploy:
    name: Build, Push & Deploy to K8s
    runs-on: ubuntu-latest
    
    environment: 
      name: ${{ github.ref_name == 'main' && 'production' || 'develop' }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Dynamic Image Tag
        id: tag_gen
        run: |
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "IMAGE_TAG=${SHORT_SHA}" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=${SHORT_SHA}-rc" >> $GITHUB_ENV
          fi

      - name: Patch Kubernetes Deployment
        run: |
          FULL_IMAGE="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}"
          echo kubectl set image deployment/${{ env.REPOSITORY_NAME }} ${{ env.REPOSITORY_NAME }}=${FULL_IMAGE} -n default

      - name: Validate Deployment Rollout
        run: |
          echo kubectl rollout status deployment/${{ env.REPOSITORY_NAME }} -n default --timeout=120s

