name: Python CI/CD Pipeline

on:
  push:
    branches:
    - "feat/**"
    - "fix/**"

permissions:
  contents: write

env:
  PYTHON_VERSION: "3.11"
  REPOSITORY_NAME: ${{ github.event.repository.name }}

jobs:
  preparar_codigo:
    uses: ./.github/workflows/common-lint-version.yml
    secrets: inherit

  code-quality:
    name: Format, Lint & SAST
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install tools
        run: pip install --upgrade pip  
      - name: Install dev tools
        run: pip install -r requirements-dev.txt
      - name: Install need library
        run: pip install -r server/requirements.txt
      - run: black --check .
      - run: mypy . --explicit-package-bases --namespace-packages
      - run: bandit -r server -ll -ii

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: code-quality
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: pip install --upgrade pip  
      - run: pip install -r server/requirements.txt 
      - run: pip install -r requirements-dev.txt
      - run: make test-unit PYTHON=python

